
/* === hidden search === */
#hidden-search {
  opacity: 0;
}
.hidden-search {
  height: 0;
}
.search-box {
  position: fixed;
  top: -5px;
  width: 100%;
  list-style: none;
  transition-duration: .25s;
  z-index: 5;
  padding: 0 16px;
  margin-top: 5px;
  display: none;
}
#hidden-search:checked ~ .search-box {
  visibility: visible;
  left: 0;
  display: block;
}
.search__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.search__field-input {
  width: 100%;
  height: 56px;
  padding-left: 10px;
  border: 1px solid #B08D57;
  border-radius: 6px;
  outline: none;
  padding-right: 60px;
  box-shadow: inset 0 5px 9px 0 rgba(154, 147, 140, 0.5);
}
.search__field-button {
  position: absolute;
  top: 0;
  right: 3px;
  width: 50px;
  height: 56px;
  border-left: 1px solid rgba(176,141,87,1);
  background: rgba(255, 255, 255, 0);
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
#hidden-search:checked ~ .search__btn {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 1px;
  cursor: default;
  right: 0;
}


/*  ===== hidden menu block =======   */
#menu__toggle {
  opacity: 0;
}
.hidden-menu {
  height: 0;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
#menu__toggle:checked ~ .menu__btn {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 1px;
  cursor: default;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 5;
}
.menu__name {
  display: block;
  margin: 25px 0 2px 16px;
  font-size: 18px;
}
.menu__email {
  display: block;
  margin-left: 16px;
  margin-bottom: 17px;
  font-size: 14px;
}
.menu__sidebar-nav {
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__sidebar-nav-item .menu__js-scroll-trigger {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 13px 0 13px 20px;
}
.menu__sidebar-nav-item .menu__js-scroll-trigger:hover {
  text-decoration: none;
  color: #B08D57;
  background: rgba(255, 255, 255, 0.2);
}
.menu__sidebar-nav-item--line {
  border-bottom: 2px solid #E8E9EC;
}
.menu__icon {
  margin-right: 7px;
}
