
@import "../variables";

&__button {
  width: 100%;
  height: 48px;
  border-radius: 32px;
  background: $color-button;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    transform: scale(1.01) scale(1);
  }
}