
@import "search/search";
@import "menu/button";
@import "menu/hidden";
@import "variables";



.header {
  display: block;
  height: 56px;
  width: 100%;
  background: rgba(0, 170, 238, 0);
  box-shadow: inset 0 5px 9px rgba(154, 147, 140, 0.5);
  .header__row {
    display: flex;
    height: 56px;
    .header__menu-burger,
    .header__menu-toggle {
      border-right: 1px solid rgba(255,255,255,.3);
      display: block;
      width: 45px;
      //height: 56px;
      padding-top: 21px;
      padding-left: 18px;
      .header__menu-toggle-btn {
        background: transparent;
      }
    }
    .header__menu-burger {
      border-right: $border_brown;
    }
    .header__logo {
      margin: 16px auto;
      display: block;
      .header__logo-img {
        width: 76px;
      }
    }
    .header__search {
      display: block;
      width: 60px;
      height: 56px;
      text-align: center;
      .header__menu-search {
        margin-top: 16px;
      }
      .header__menu-search-btn {
        background: none;
        margin-top: 21px;

      }
    }
  }
  .header__border {
    opacity: 0.3;
  }
  .header__border-burger {
    border: $border_brown;
  }
}




//.header__burger {
//   color: #000;
// }




